<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bn.sample14_1">
    <application
            android:label="@string/sample14_1_activity">
        <activity android:name="Sample14_1Activity"
                android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            	android:launchMode="singleTask"
            	android:configChanges="orientation|keyboardHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
    <uses-feature android:glEsVersion="0x00030000"/>
    <uses-sdk android:minSdkVersion="18" android:targetSdkVersion="21"/>
</manifest>
